* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Lato;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wild-cover {
  position: relative;
  background: url(/images/wild-animal/fox-red.jpg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.wild-cover--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0000003d;
}
.left-yellow-navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4%;
  background-color: #f39c12;
  z-index: 1;
}
.mobo--wrapper {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
#main-header {
  height: 25%;
  display: flex;
  align-items: end;
  padding: 2em 3em;
}
.content-section {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 2em 3em;
  margin-bottom: 50px;
}
.nav-area {
  width: 4%;
  height: 100%;
}
.content--wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.logo {
  width: 65%;
  display: flex;
  align-items: center;
}
.logo a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.logo a span {
  color: #f39c12;
}
.header-nav {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu--warpper {
  display: flex;
  width: 100%;
}
.menu--warpper ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu--warpper ul li a {
  color: #fff;
  font-size: 1rem;
}
.content--wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
  color: #fff;
}
.species {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
.name-species {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.description-species {
  line-height: 1.5em;
  font-size: 14px;
  margin-bottom: 30px;
}
.watch-video {
  display: flex;
}
.menu--wrapper {
  width: 100%;
}
.menu--wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.menu--wrapper ul li a {
  color: #fff;
  font-size: 14px;
}
.menu--wrapper ul li a span {
  height: 10px;
  width: 10px;
  background-color: #f39c12;
}
.video-btn {
  background-color: #f39c12;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobo-footer--wrapper {
  display: flex;
  width: 100%;
}
#main-footer {
  height: 25%;
  display: flex;
  padding: 3em 3em;
}
.habitat {
  width: 15%;
}
.habitat-next {
  width: 50%;
}
.habitat-next-end {
  width: 15%;
}
.text-white {
  color: #fff;
  font-size: 14px;
}
.text {
  color: #f39c12;
  margin-bottom: 10px;
}
.icon {
  width: 180px;
  height: 100px;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mb-40 {
  margin-bottom: 40px;
}
.list {
  display: flex;
}
.list ul {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.list ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50%;
}
.list ul li.active a {
  background-color: #f39c12;
  border: 1px solid #f39c12 !important;
}
.list ul li a:hover {
  background-color: #f39c12;
  border: 1px solid #f39c12 !important;
}
.right-bottom-video-section {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #f39c12;
  color: #f39c12;
  width: 320px;
  height: 180px;
  background: url(/images/wild-animal/fox.jpg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-bottom-video-section span i {
  font-size: 22px;
}
.icon-end {
  color: #f39c12;
  margin-top: 20px;
}
#flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.logo-custom {
  height: 30%;
  display: flex;
  justify-content: center;
}
.logo-custom ul {
  display: flex;
  font-size: 14px;
  margin-top: 40px;
  font-weight: 500;
  color: #fff;
}
.slider-circles {
  height: 45%;
  display: flex;
  justify-content: center;
}
.slider-circles ul {
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.slider-circles ul li a .dot {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.7;
}
.slider-circles ul li a .dot:hover {
  opacity: 1;
}
.slider-circles ul li.circles-active a .dot {
  background-color: #fff;
  opacity: 1;
}
.scroller-icon {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroller--wrapper {
  color: #fff;
  writing-mode: vertical-rl;
  text-align: center;
}
.scroller--wrapper i {
  margin-top: 10px;
}
.white-section {
  display: flex;
  padding: 2em 3em 0 3em;
}
#white-section-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  top: 0;
}
.white-section-content {
  width: 100%;
  overflow-y: scroll;
}
.white-section-content::-webkit-scrollbar {
  display: none;
}
.back {
  font-weight: 500;
  margin-bottom: 40px;
  cursor: pointer;
}
.back i {
  color: #f39c12;
  margin-right: 5px;
}
.white-habitat-wrapper {
  display: flex;
  flex-direction: row;
}
.white-habitat {
  width: 30%;
  padding-right: 0.9em;
}
.white-habitat-text {
  width: 40%;
  padding-right: 2.5em;
}
.white-habitat-img {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.list.white ul {
  width: 65%;
}
.white ul li a {
  color: #252525;
  border: 1px solid #252525;
}
.white ul li a:hover {
  color: #fff;
}
.white ul li.active a {
  color: #fff;
  border: 1px solid #252525;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.text-heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.gen-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.white-habitat-img--wrapper {
  height: 200px;
  width: 350px;
  margin-bottom: 10px;
}
.white-habitat-img--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d-flex {
  display: flex !important;
}

/* @media Queries Section Start */

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .left-yellow-navbar {
    width: 5%;
  }
  .right-bottom-video-section {
    display: none;
  }
  .nav-area {
    width: 5%;
  }
  #main-header {
    height: 20%;
  }
  .content-section {
    height: 50%;
    margin-bottom: 0;
  }
  .content--wrapper {
    width: 33%;
  }
  .habitat {
    width: 30%;
  }
  .habitat-next {
    width: 45%;
  }
  .list ul {
    width: 70%;
  }
  .list ul li a {
    font-size: 12px;
  }
  .mb-40 {
    margin-bottom: 25px;
  }
  .habitat-next-end {
    width: 20%;
  }
}
